@use "sass:color";

:root {

  /* Definir las variables de colores */
  --texto: rgb(22 18 0);
  --WHITE: rgb(255 255 255);
  --BLACK: rgb(22 18 0);
  --RED: rgb(199 40 51);
  --fondo: rgb(255 255 255);
  --bg__capa: rgb(0 0 0 / 0.5);
}